.header-block{
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    
    &__title{
        color: #ffffff;
        font-weight: 300;
        font-size: 24px;
        text-align: center;
        margin-right: 20px;
    }
    &__logo{
        width: 400px
    }
    &__logout{
        color: white;
        font-weight:300;
        font-size: 20px
        
    }
}